<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organigrama</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://d3js.org/d3.v6.min.js"></script>
</head>
<body>
    <h1>Organigrama de la Empresa</h1>
    <div id="organigrama"></div>

    <script>
        var empleados = {{ empleados|tojson }};

        var margin = {top: 20, right: 200, bottom: 20, left: 200},
            width = 3000 - margin.right - margin.left,
            height = 1000 - margin.top - margin.bottom;

        var i = 0, duration = 750, root;

        var tree = d3.tree().size([height, width]);

        var svg = d3.select("#organigrama").append("svg")
            .attr("width", width + margin.right + margin.left)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        var stratify = d3.stratify()
            .id(function(d) { return d.Cedula; })
            .parentId(function(d) { return d.Supervisor; });

        root = stratify(empleados);
        root.x0 = height / 2;
        root.y0 = 0;

        root.children.forEach(collapse);

        update(root);

        function collapse(d) {
            if(d.children) {
                d._children = d.children;
                d._children.forEach(collapse);
                d.children = null;
            }
        }

        function update(source) {
            var treeData = tree(root);

            var nodes = treeData.descendants(),
                links = treeData.descendants().slice(1);

            // Ajusta el espacio horizontal (eje Y) entre nodos
            nodes.forEach(function(d){ d.y = d.depth * 400 });

            // Ajusta el espacio vertical (eje X) entre nodos
            var node = svg.selectAll('g.node')
                .data(nodes, function(d) { return d.id || (d.id = ++i); });

            var nodeEnter = node.enter().append('g')
                .attr('class', 'node')
                .attr("transform", function(d) {
                    return "translate(" + source.y0 + "," + source.x0 + ")";
                })
                .on('click', click);

            nodeEnter.append("rect")
                .attr("x", -150)
                .attr("y", -30)
                .attr("width", 300)
                .attr("height", 40)
                .attr("rx", 6)
                .attr("ry", 6)
                .style("fill", function(d) {
                    return d.children || d._children ? "#B9C2FF" : "#f8f8f8";
                })
                .style("stroke", "steelblue")
                .style("stroke-width", "1.5px");

            nodeEnter.append('text')
                .attr("dy", "-1em")
                .attr("text-anchor", "middle")
                .text(function(d) { return d.data.Cargo; });

            nodeEnter.append('text')
                .attr("dy", "0.3em")
                .attr("text-anchor", "middle")
                .text(function(d) { return d.data.Nombre; });

            var nodeUpdate = nodeEnter.merge(node);

            nodeUpdate.transition()
                .duration(duration)
                .attr("transform", function(d) {
                    return "translate(" + d.y + "," + d.x + ")";
                });

            nodeUpdate.select('rect')
                .style("fill", function(d) {
                    return d.children || d._children ? "#B9C2FF" : "#f8f8f8";
                })
                .style("stroke", "steelblue")
                .attr('cursor', 'pointer');

            var nodeExit = node.exit().transition()
                .duration(duration)
                .attr("transform", function(d) {
                    return "translate(" + source.y + "," + source.x + ")";
                })
                .remove();

            nodeExit.select('rect')
                .attr('r', 1e-6);

            nodeExit.select('text')
                .style('fill-opacity', 1e-6);

            var link = svg.selectAll('path.link')
                .data(links, function(d) { return d.id; });

            var linkEnter = link.enter().insert('path', "g")
                .attr("class", "link")
                .attr('d', function(d){
                    var o = {x: source.x0, y: source.y0}
                    return diagonal(o, o)
                });

            var linkUpdate = linkEnter.merge(link);

            linkUpdate.transition()
                .duration(duration)
                .attr('d', function(d){ return diagonal(d, d.parent) });

            link.exit().transition()
                .duration(duration)
                .attr('d', function(d) {
                    var o = {x: source.x, y: source.y}
                    return diagonal(o, o)
                })
                .remove();

            nodes.forEach(function(d){
                d.x0 = d.x;
                d.y0 = d.y;
            });

            function diagonal(s, d) {
                var path = `M ${s.y} ${s.x}
                            C ${(s.y + d.y) / 2} ${s.x},
                              ${(s.y + d.y) / 2} ${d.x},
                              ${d.y} ${d.x}`;

                return path;
            }

            function click(event, d) {
                if (d.children) {
                    d._children = d.children;
                    d.children = null;
                } else {
                    d.children = d._children;
                    d._children = null;
                }
                update(d);
            }
        }
    </script>
</body>
</html>
